{% extends 'base.html.twig' %}

{% block title %}Starter page{% endblock %}
{% block page_description %}Home page for experimental Symfony 4 project{% endblock %}


{% block content %}

    {#{{ dump() }}#}

    <main role="main" class="container main">
        <div>
            <h2>Hello {{ guest_name }}</h2>
        </div>
    </main>


{% endblock %}
